* {
  margin: 0px;
  padding: 0px;
  -webkit-sizing: border-box;
  -moz-sizing: border-box;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body {
  font-size: 16px;
  color: #2c2e12;
}
img {
  vertical-align: top;
  max-width: 100%;
}
a {
  text-decoration: none;
  color: #2c2e12;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 20px;
  right: 20px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 40px;
  -webkit-box-shadow: 2px 2px 3px #999;
          box-shadow: 2px 2px 3px #999;
  z-index: 100;
}
.float:hover {
  text-decoration: none;
  color: #25d366;
  background-color: #fff;
}
.my-float {
  margin-top: 9px;
  margin-left: 2px;
}
.menu-bar-pc {
  width: 120%;
  position: fixed;
  z-index: 99;
  left: -10%;
  top: -10px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 10rem;
  max-height: 10rem;
  background-image: url(../img/Encabezado\ Madera\ Recto.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}
.menu-bar-pc .logo {
  min-width: 170px;
  max-width: 170px;
  top: -10px;
  position: relative;
}
.top-redes {
  font-size: 1.2rem;
  padding: 0 1rem;
  position: fixed;
  text-align: center;
  z-index: 100;
  top: 2rem;
  right: 0px;
}
.top-redes a {
  margin-left: 0.5rem;
}
.top-redes a:hover {
  color: #000000;
}
.main {
  margin-top: 10rem;
}
.containerDelMenuPrinc {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.menu-principal {
  width: 70%;
  font-size: 1.5rem;
  margin-bottom: 3rem;
  border-bottom: #afa11d 1px solid;
  text-align: center;
  display: inline-block;
  padding: 0;
  z-index: 1;
  background: #ffffff;
}
.menu-principal a {
  padding: 0 2rem;
  display: inline-block;
}
.menu-principal a:hover {
  color: #afa11d;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.compu {
  width: 100%;
  text-align: center;
  height: 400px;
}
.compu img {
  margin: 2rem;
}
.compu p {
  width: 100%;
  position: absolute;
  font-size: 1.5rem;
  color: #afa11d;
}
.degrade {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-image: url(../img/Fondo\ dibujo\ amarillo.png);
  background-position: center;
  text-transform: uppercase;
}
.degrade .ejemplo {
  width: 12.5rem;
  margin: 50px;
  border: #000000 double 1px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.degrade .ejemplo img {
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.degrade .ejemplo:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.degrade .ejemplo:hover .texto-tarjeta {
  color: #d32525;
  -webkit-text-decoration: solid;
          text-decoration: solid;
}
.degrade P {
  padding: 1rem;
}
.ejemplo {
  top: -60px;
}
.footer {
  margin-top: 1rem;
  background: #080808;
  padding: 1rem 0;
  text-align: center;
  color: #fff;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
}
.footer p {
  color: rgba(255, 255, 255, 0.9);
}
.footer .bottom-redes {
  margin-top: 0.75rem;
}
.footer .bottom-redes a {
  padding: 0 0.5625rem;
  color: rgba(255, 255, 255, 0.9);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.footer .bottom-redes a:hover {
  color: #afa11d;
  opacity: 75%;
}
